html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(59, 70, 80);
  box-sizing: border-box;
  overflow-x: hidden; /* evita rolagem horizontal */
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  background-color: #4b4a5a;
  color: aliceblue;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.sidebar {
  background-color: #4b4a5a;
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 1rem;
  height: 100%;
}

.area {
  width: 100%;
  padding: 10px;
  background-color: #4b4a5a;
  color: aliceblue;
  border: none;
}

.area:hover {
  background-color: #696968;
  cursor: pointer;
}

section {
  width: 85%;
  padding: 1rem;
  overflow-y: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr; /* 1 card por linha; use 2fr 1fr para colunas diferentes */
  gap: 20px;
  max-width: 100%;
}

select {
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
