html, body {
    background-color: #121212;
    color: aliceblue;
    height: 100%;
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* width: 100%; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* margin: auto; */
}

body {
    /* display: flex; */
    
}

section {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

article {
    /* height: 100%; */
    /* width: 100vh; */
    margin: auto;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* display: flex; */
    
}
form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    /* display: table; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    
    
}


fieldset {
    /* display: table; */
    
}

label {
    display: table;
    padding-bottom: 0.5%;
    padding-top: 1%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
    
}

input {
    width: 80%;
    
}

.fielDetalhes {
    display: flex;
    align-items: flex-end;
    width: 94%;
}

.box {
    /* display: flex; */
    /* align-items: flex-end; */
    height: 30px;
}

.detalhes {
    display: flex;
    width: 50%;
    align-items: center;
}

textarea {
    width: 80%;
}

.motivo {
    
}