html, body {
  height: 100VH;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: black;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color:blue; */
}

header {
  
  background-color: #b8853a;
  color: white;
  height: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  
  top: 0;
  margin: 0;
  z-index: 1000;
}

section {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 100%;
  /* background-color: aqua; */
  /* height: calc(100vh - 10%); */
  /* margin-top: 10%;   */
}

.sidebar {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 0;
  height: calc(100vh - 10%);
  width: 15%;
  overflow-y: auto;
  
}



/* .sidebar a {
  color: white;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} */

.area {
  /* display: grid; */
  /* background-color: lightcoral; */
  width: 100%;
  padding: 10%;
  display: flex;
  position: static;  
}

.area:hover{
  background-color: #c98f39;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  /* background-color:red; */
  grid-column: 2;
  padding: 10px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 5%;
  
  
  display: flex;
  flex-direction: column;
  /* margin-left: 15%; */
  /* width: 85%; */
}

.bloco {
  /* background-color:cadetblue; */
  margin: auto;
  background-color: aliceblue;
  opacity: 80%;
}

.conteudo {
  display: flex;
  flex-direction: row-reverse;
}

img {
  /* background-color: lightblue; */
  max-height: 200px;
  max-width: 100%;
  height: auto;
  margin: 2%;
}

h2 {
  margin: auto;
  padding: 2%;
}